.css-16lloyr-MuiBottomNavigation-root{
    height: 45px !important;
    background-color: transparent !important;
}
.css-qxh7fn{
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
}   
.css-imwso6-MuiBottomNavigationAction-label{
    font-family: 'Raleway', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600;
}
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root{
    color: #ffff !important;
}
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
    color: #ffff !important;
}

.css-16lloyr-MuiBottomNavigation-root{
    width: 100%;
    background-color: transparent;
}


@media (min-width: 576px) and (max-width: 767px) {
    .css-imwso6-MuiBottomNavigationAction-label{
        font-size: 1.1rem !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .css-imwso6-MuiBottomNavigationAction-label{
        font-size: 1.2rem !important;
    }
    .css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root{
        margin: 0 20px !important;
    }
}
@media (min-width: 1200px){
    .css-imwso6-MuiBottomNavigationAction-label{
        font-size: 1.2rem !important;
    }
    .css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root{
        margin: 0 20px !important;
    }
}